<div class="container-fluid w-100">

    <div class="row">
        <div class="container mt-5">
            <input id="register_toggle" type="checkbox">
            <div class="slider">


                <!-- ----------------------------------------loginForm-------------------------------------------------- -->

                <form class="form" [formGroup]="loginForm">
                    <span class="title text-white">Login</span>
                    <div class="form_control">
                        <input formControlName="empid1" id="ac1" name="empI" required="" class="input" type="text">
                        <label class="label text-light">Employee ID</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.loginForm.get('empid1')?.errors && this.loginForm.get('empid1')?.touched">
                        <p>Please Enter a Valid Employee ID.</p>
                    </div>
                    <div class="form_control">
                        <input formControlName="psw1" id="p1" name="psw8" required="" class="input" type="password">
                        <label class="label text-light">Password</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.loginForm.get('psw1')?.errors && this.loginForm.get('psw1')?.touched">
                        <p>Please Enter a Valid Password.</p>
                    </div>
                    
                    <button class="fs-6" (click)="login()" type="submit">LOGIN</button>

                    <span class="bottom_text text-light">Don't have an account? <label class="swtich"
                            for="register_toggle">Sign
                            Up</label> </span>
                    <span class="bottom_text text-light">Are you an admin? <a class="text-white swtich"
                            style="text-decoration: none;" routerLink="admin-login">LOGIN</a></span>

                </form>


                <!-- ----------------------------------------registerForm--------------------------------------- -->


                <form [formGroup]="registerForm" class="form">
                    <span class="title text-light">Sign Up</span>
                    <div class="form_control">
                        <input formControlName="empid2" id="u1" name="uname" required="" class="input" type="text" >
                        <label class="label text-light">Employee ID</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.registerForm.get('empid2')?.errors && this.registerForm.get('empid2')?.touched">
                        <p>Please Enter a Valid Employee ID.</p>
                    </div>

                    <div class="form_control">
                        <input formControlName="uname" id="n1" name="name" required="" class="input" type="text">
                        <label class="label text-light">Username</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                        <p>Please Enter a Valid Username.</p>
                    </div>
                    <div class="form_control">
                        <input formControlName="jobt" id="position" name="job" required="" class="input" type="text">
                        <label class="label text-light">Job title</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.registerForm.get('jobt')?.errors && this.registerForm.get('jobt')?.touched">
                        <p>Please Enter a Valid Job title.</p>
                    </div>
                    <div class="form_control">
                        <input formControlName="loc" id="place" name="locc" required="" class="input" type="text">
                        <label class="label text-light">Location</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.registerForm.get('loc')?.errors && this.registerForm.get('loc')?.touched">
                        <p>Please Enter a Valid Location.</p>
                    </div>

                    <div class="form_control">
                        <input formControlName="psw2" id="p1" name="password" required="" class="input" type="password">
                        <label class="label text-light">Password</label>
                    </div>
                    <div class="valdiv1 ms-2"
                        *ngIf="this.registerForm.get('psw2')?.errors && this.registerForm.get('psw2')?.touched">
                        <p>Please Enter a Valid Password.</p>
                    </div>

                    <button class="fs-5" (click)="register()">SIGN UP</button>

                    <span class="bottom_text text-light">Already have an account? <label class="swtich"
                            for="register_toggle">Sign
                            In</label> </span>
                </form>

            </div>
        </div>

    </div>

</div>