<div
    div class="logO">
    <button class="btn btn-danger c" (click)="logout()">Logout</button>
</div>

<div class="row  w-100 mb-5">
    <div></div>
    <div class="col-lg-6 col-md-6 col-sm-12 udiv">
        <div class="card-container">

            <img class="round mt-2" src="https://i.postimg.cc/CMPXJ4zj/ulogo1.png" alt="user" />
            <h3 class="mt-1">{{user}}</h3>
            <h6>Developer</h6>
            <p class="mb-2">User interface designer and <br /> front-end developer</p>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <form [formGroup]="employeeForm" class="form container mt-5">
            <p class="message text-center">WELCOME <span class="uname">{{user}} </span> &nbsp; Please update your
                expenses</p>
            <div class="flex">
                <label>
                    <input formControlName="empid" id="emp" name="name" required="" placeholder="" type="text"
                        class="input">
                    <span>Employee ID</span>
                </label>

                <label>
                    <input formControlName="amount" id="amt" name="password" required="" placeholder="" type="text"
                        class="input">
                    <span>Amount</span>
                </label>
            </div>

            <label>
                <input formControlName="date" id="dt" name="dt1" required="" placeholder="" type="date" class="input">
            </label>

            <label>
                <input formControlName="reason" id="p1" name="password" required="" placeholder="" type="text"
                    class="input">
                <span>Reason for expense</span>
            </label>

            <button (click)="submitForm()" class="submit">Submit</button>

        </form>
    </div>
</div>

<hr class="text-white">

<div class="statusC">
    <div class="blog_post container w-75 mt-5 mb-5" *ngFor="let i of uArray">
        <div class="img_pod">
            <h5 class="text-white">Pending</h5>
        </div>
        <div class="container_copy">
            <span>
                <h3 class="sh3">{{i.Date}}</h3>
                <p class="sp">{{i.Reason}}</p>
                <h1>&#x20B9;{{i.amount}}</h1>
                <span class="spanDiv">
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </span>
            </span>
        </div>

    </div>
</div>